{% load static %}
<!DOCTYPE html>
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">

    <!-- Other -->
    <link rel="stylesheet" type="text/css" href="{% static 'sitewide/css/main.css' %}"/>
    <link rel="shortcut icon" type="image/png" href=""/>


    <!-- flatpickr (also js) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.css" integrity="sha256-7vIWE+OHz3pLhuONuFqSa/Oh/YUUHFIMooHMwN1Q2bk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/themes/dark.css" integrity="sha256-K7VO/dYboZOIjm2us6WE3Z8P8lsfUKaUVSnYYtPg6eE=" crossorigin="anonymous" />

        {% if title %}
            <title>MillaTrening - {{title}}</title>
        {% else %}
            <title>MillaTrening</title>
        {% endif %}
    </head>
    <body>
        {% include "sitewide/navbar.html" %}
        <div class = "container">
            <div class="row">
                    <div class="col align-self-center">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>   
            {% block content %}{% endblock %}
        </div>
        {% include "sitewide/footer.html" %}
        <!-- JQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

        <!-- flatpickr (also css) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.js" integrity="sha256-3soYYYidbbsrmHXTGgxeCdgMfgt6IqWjWPKfuDWduqM=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/l10n/no.js" integrity="sha256-q8KkXT0pTTRz4uxuUW+rWQbWyg1VTAygONGTJS/QUjE=" crossorigin="anonymous"></script>

        <!-- select2 (also css) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/i18n/nb.js" integrity="sha256-vw4B7p459U8eU8SfWyGnBM2YmkxrKM43V72uzVtPIHc=" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
        
    </body>
</html>