{% extends "sitewide/base.html"%}
{% load widget_tweaks %}
{% block title %}Registrer Okt{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="post" novalidate>
            {% csrf_token %}
            <legend class="border-bottom mb-4">Registrer trening</legend>
            <div class="form-group">
                {{ form.treningtype.label_tag }}
                {% render_field form.treningtype class="form-control"%}
                {% for error in from.treningstype.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group" id = "distance-group">
                {{ form.distance.label_tag }}
                {% render_field form.distance class="form-control" %}
                {% for error in from.distance.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.date.label_tag }}
                {% render_field form.date class="form-control" %}
                {% for error in from.date.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>       
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registrer Trenings Økt</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
        $("#type-field").change(function (e) {
            const hide_values = [0,4];
            console.log(hide_values.includes(parseInt(e.currentTarget.value)))
            if(hide_values.includes(parseInt(e.currentTarget.value))) {
                 document.getElementById("distance-group").style.display = "none";
            } else document.getElementById("distance-group").style.display = "block";
        });
        flatpickr("#date", {
            enableTime: false,
            dateFormat: "Y-m-d"
        });
    });
  </script>
{% endblock %}