{% extends "sitewide/base.html"%}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Logg inn</legend>
                {{form}}
            </fieldset>     
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Logg inn</button>
            </div>
        </form> 
        <div class="border-top pt-3">
            <small class="text-muted">
                Trenger du bruker? <a href = "{% url 'register'%}">Registrer deg</a>
            </small>
        </div>
    </div>
{% endblock content %}